<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

{% load static from staticfiles %}

	<link rel="stylesheet" href="{% static "foundation/css/foundation.css" %}" />

</head>

<body>
<div class="row">
{% block content %}{% endblock content %}
</div>

	<script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
	<script src="{% static "foundation/js/vendor/what-input.js" %}"></script>
	<script src="{% static "foundation/js/vendor/foundation.min.js" %}"></script>

	<script>
	    $(document).foundation();
	</script>
</body>
</html>